.login-component {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 70%;
  height: 45em;

  .login-heading {
    text-align: center;
  }

  .login-grid-columns {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 10em;
    height: 100%;
    padding: 5em;

    .login-description {
      display: flex;
      text-align: center;
      height: 100%;

      border: 1px solid white;
    }

    .login-form {
      height: 100%;

      form {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        width: 100%;

        input {
          width: 70%;
        }
      }
    }
  }
}
